<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>iTime 需要访问局域网以发现附近设备并同步数据。</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_itime-sync._tcp</string>
        <string>_itime-sync._udp</string>
    </array>
</dict>
</plist>
